/* Inline code styling */
body code {
  background-color: #424242 !important;
  color: #FFFFFF !important;
}

/* All links: normal state */
a,
a.crossref,
a.citation {
  color: #00A67D;
  text-decoration: none;
}

/* All links: hover state -> darker color, no underline */
a:hover,
a.crossref:hover,
a.citation:hover {
  color: #00805F;
  text-decoration: none;
}

/* Sidebar active link color */
.sidebar nav .active > a {
  color: #00A67D;
}

/* Sidebar link hover color */
.sidebar nav a:hover {
  color: #007;
}

/* Thin outline around all images */
img {
  border: 1px solid #424242;
  border-radius: 4px;
}

/*-- scss:rules --*/
.quarto-float-fig .figure-caption,
.quarto-subfigure .figure-caption {
  .figcaption-number::after {
    content: none;
  }
  
  .figcaption-number ~ .figcaption-subfig::before {
    content: none;
  }
  
  .figcaption-subfig::after {
    content: none;
  }
}

